<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/code.jquery.com_jquery-3.7.1.min.js"></script>

    {% block head %}
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <title>{% block title %}{% endblock %} - Base</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <h1 class="large-header text-primary mt-5">WEB MD</h1>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

    <h2></h2>
  </body>
  <footer>Copyright &copyWeb MD all rights reserved</footer>
</html>
