<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/code.jquery.com_jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" />
    <title>{% block title %}{% endblock %} - Base</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <h1 class="large-header text-primary mt-5 text-center">WEB MD</h1>
    </div>

    <div class="row">
      <a href="/">Home</a>
      <a href="/get_doctors">Get Doctor</a>
      <a href="/get_patients">Get Patients</a>
      <a href="/enter_doctors">Enter Doctor</a>
      <a href="/enter_patients">Enter Patient</a>
      <a href="/enter_prescription">Enter Prescription</a>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

    <h2></h2>
  </body>
  <footer class="margin-left:0 fixed-bottom">
    <div class="container">Copyright &copyWeb MD all rights reserved</div>
  </footer>
</html>
