<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Prescription</title>
  </head>
  <body>
    <form method="GET">
      <div>
        <h1>NEW PRESCRIPTION</h1>
        <label for="ID_field">ID:</label>
        <input
          required
          id="ID_field"
          type="text"
          name="ID"
          placeholder="0102000A0AAAAAA"
        />
      </div>
      <div>
        <label for="name"> Prescription Name:</label>
        <input
          required
          id="name"
          type="text"
          name="Prescription Name"
          placeholder="Hyoscine Butylbrom_Tab 10mg"
        />
      </div>
      <button type="reset">RESET</button>
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
