<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Registration</title>
  </head>
  <body>
    <header>
      <h1>Enter Patient Information</h1>
    </header>
    <main>
      <form>
        <div>
          <label for="firstName">First Name:</label>
          <input
            required
            type="text"
            id="firstName"
            name="First Name"
            placeholder="John"
          />
        </div>

        <div>
          <label for="lastName">Last Name:</label>
          <input
            required
            type="text"
            id="lastName"
            name="Last Name"
            placeholder="Doe"
          />
        </div>

        <div>
          <label for="phoneNumber">Phone Number:</label>
          <input
            required
            type="number"
            id="phoneNumber"
            name="Phone Number"
            placeholder="123-456-7890"
          />
        </div>

        <div>
          <label for="email">Email:</label>
          <input
            required
            type="email"
            id="email"
            name="Email"
            placeholder="example@gmail.com"
          />
        </div>

        <div>
          <label for="address">Address:</label>
          <input
            required
            type="text"
            id="address"
            name="Address"
            placeholder="123 streetName cityName stateName"
          />
        </div>

        <div>
          <label for="allergies">Allergies:</label>
          <input
            required
            type="text"
            id="allergies"
            name="Allergies"
            placeholder="Peanut"
          />
        </div>

        <div>
          <label for="age">Age:</label>
          <input required type="number" id="age" name="Age" placeholder="1" />
        </div>

        <div>
          <label for="dob">Date Of Birth:</label>
          <input
            required
            type="text"
            id="dob"
            name="Date Of Birth"
            placeholder="October 28, 2023"
          />
        </div>
        <div>
          Gender
          <div>
            <label for="M">Male</label>
            <input required type="radio" id="M" name="gender" value="Male" />
          </div>
          <div>
            <label for="F">Female</label>
            <input required type="radio" id="F" name="gender" value="Female" />
          </div>
        </div>

        <div>
          <label for="healthCondition">Health Conditon:</label>
          <input
            required
            type="text"
            id="healthCondition"
            name="Health Conditon"
            placeholder="Normal"
          />
        </div>

        <button type="submit">SUBMIT</button>
        <button type="reset">RESET</button>
      </form>
    </main>
  </body>
</html>
