{% extends "base.html" %} {% block title %}Patient Information{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<h1 class="text-center">Enter Patient Information</h1>

<div class="container">
  <div class="input-group d-flex justify-content-center">
    <form action="/insert_patient" method="POST" id="insert-patient-form">
      <h3 class="text-center" style="color: brown">Personal Information</h3>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-12">
          <input
            style="margin: 10px"
            class="form-control"
            aria-label="First Name"
            placeholder="First Name"
            type="text"
            id="firstName"
            name="firstName"
          />
        </div>
        <div class="col-md-6 col-sm-12">
          <input
            style="margin: 10px"
            class="form-control"
            aria-label="Last Name"
            placeholder="Last Name"
            type="text"
            id="lastName"
            name="lastName"
          />
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-12">
          <input
            style="margin: 10px"
            class="form-control"
            aria-label="Age"
            placeholder="Age"
            min="0"
            type="number"
            id="age"
            name="age"
          />
        </div>
        <div class="col-md-6 cold-sm-12">
          <input
            style="margin: 10px"
            class="form-control"
            aria-label="Gender"
            placeholder="Gender"
            type="gender"
            id="gender"
            name="gender"
          />
        </div>
      </div>

      <input
        style="margin: 10px"
        class="form-control"
        aria-label="Date of Birth (xx-xx-xxxx)"
        placeholder="Date of Birth (xx-xx-xxxx)"
        type="text"
        id="dob"
        name="dob"
      />

      <h3 class="text-center" style="color: brown">Contact Information</h3>

      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <input
            style="margin: 10px"
            class="form-control"
            aria-label="Phone Number"
            placeholder="Phone Number: (xxx-xxx-xxxx)"
            type="tel"
            id="phoneNumber"
            name="phoneNumber"
          />
        </div>
        <div class="col-12">
          <input
            style="margin: 10px"
            class="form-control"
            aria-label="Email"
            placeholder="Email"
            type="email"
            id="email"
            name="email"
          />
        </div>
      </div>

      <input
        style="margin: 10px"
        class="form-control"
        aria-label="Address"
        placeholder="Address"
        type="address"
        id="address"
        name="address"
      />

      <h3 class="text-center" style="color: brown">Health Information</h3>

      <input
        style="margin: 10px"
        class="form-control"
        aria-label="Health Condition"
        placeholder="Health Condition"
        type="healthCondition"
        id="healthCondition"
        name="healthCondition"
      />

      <input
        style="margin: 10px"
        class="form-control"
        aria-label="Allergies"
        placeholder="Allergies"
        type="allegies"
        id="allegies"
        name="allegies"
      />

      <!-- Enter patient (Submit form) button -->
      <div class="text-center">
        <button
          type="button"
          id="submit-patient-form"
          class="btn btn-lg btn-success font-weight-bold mr-5 my-5"
        >
          Enter Patient Info
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $("#submit-patient-form").click(function () {
    var $form = $("#insert-patient-form");
    let formData = JSON.stringify(getFormData($form));

    $.ajax({
      type: "POST",
      url: "/insert_patient",
      data: formData,
      success: function () {
        console.log("Success");
      },
      dataType: "json",
      contentType: "application/json",
    });
  });
</script>

{% endblock %}
